#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wave-emoji {
  display: inline-block;
  transition: transform 0.3s ease;
}

.wave-emoji:hover {
  cursor: pointer;
  animation: wave 2.5s ease-in-out forwards;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-12deg);
  }
  20% {
    transform: rotate(18deg);
  }
  30% {
    transform: rotate(-16deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(8deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .wave-emoji:hover {
    animation: none;
  }
}
